# Archive configuration
archive-path = /data/archive
archive-year-in-day-path = FALSE

# Log configuration
log-path = /data/archive/logs
log-debug = FALSE
log-to-screen = TRUE
log-to-file = TRUE

# Station record count reports will be generated every minute if true;
# every hour if false
report-every-minute = TRUE

# UDP port used for status information requests
status-port = 13000

# LISS server definitions
liss-server = anmo.iu.liss.org:4000
liss-server = sjg.iu.liss.org:4000
